* {margin: 0; padding: 0;}
body, textarea, input, button, select, keygen, legend{font:14px/.186667rem "Microsoft YaHei", Verdana, "宋体", sans-serif; font-weight: normal; color: #000000; outline: 0;}
header, footer, section, article, aside, nav, address, figure, figcaption, menu, details {display:block;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
table {border-collapse: collapse; border-spacing: 0;}
caption, th {text-align:left;font-weight: normal;}
html, body, fieldset, img, iframe, abbr{border: 0;}
i, cite, em, var, address, dfn{font-style: normal;}
summary{outline: 0;}
ul, li{list-style: none;}
img {vertical-align: middle;}
a, a:hover{text-decoration: none; cursor: pointer;color: rgb(0,0,0);}

body{background-color: rgb(255,255,255);}
header hgroup{display: block;overflow: hidden;color: rgb(0,0,0);padding: .266667rem .2rem;}
header hgroup h3{font-size: .213333rem;margin-bottom: .16rem;}
header hgroup p{font-size: .186667rem;line-height: .266667rem;}
section article{font-size: .186667rem;line-height: .4rem;padding-left:.2rem;background-color:rgb(243,244,246); }
section figure{border-bottom: 1px solid rgb(244,244,244);padding: .2rem 0;margin: 0 .2rem;}
section figure a{display: flex;display: -webkit-flex;flex-flow: row nowrap;justify-content: center;align-items: center; }
section figure:last-child{border-bottom: none;}
section figure img{flex: auto;width: .8rem;height: .8rem;}
section figure p{flex: auto;align-self:flex-start;font-size: .213333rem;line-height: .266667rem;margin-left: .2rem;}
footer{margin: .533333rem 0 .4rem;}
footer a{display: block;border-radius: .066667rem; background-color: rgb(255,83,83);width: 3.666667rem;height: .6rem;line-height: .6rem; margin: 0 auto;text-align: center;color: rgb(255,255,255);font-size: .186667rem;}

